<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Invoice</a>
        </li>
        <li>
            <a ui-sref="invoice-list">Invoice List</a>
        </li>
    </ul>
</div>
<div class="heading-sec invoice-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Invoice List</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content city-list-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <div class="pull-right">
                            <form class="search-form mr-form">
                                <input type="text" ng-change="showAllInvoices(true)" placeholder="Search Here..." ng-model="invoiceFilter.invoiceNumber"
                                />
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                            <a class="btn btn-primary" ui-sref="createInvoice">
                                <i class="fa fa-plus"></i> Add New</a>
                        </div>
                        <h3>List of Invoices
                            <span class="tableTotal">(Total : {{totalItems}}) </span>
                        </h3>
                    </div>
                    <!-- <div class="table-responsive" ng-show="totalItems>0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Invoice Number</th>
                                    <th>Customer</th>
                                    <th>Employee</th>
                                    <th>Shop</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in modelList">

                                    <td>{{data.name}}</td>
                                    <td>{{data.customer.name}}</td>
                                    <td>{{data.employee.name}}</td>
                                    <td>{{data.shop.name}}</td>
                                    <td>{{data.total}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                    <div class="sec">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default custom-panel" ng-class="getStatusColor(invoice.status)" ng-repeat="invoice in modelList track by $index">
                                <uib-accordion-heading>
                                    <div ng-if="invoice.status=='Partial Pending'">
                                        Date:{{invoice.createdAt | Date}}, Bill No : {{invoice.name}}, Total Amount : {{invoice.total}}, Pending :{{invoice.total
                                        - invoice.paidAmount}}, Customer : {{invoice.customer.name}}
                                    </div>
                                    <div ng-if="invoice.status!=='Partial Pending'">
                                        Date:{{invoice.createdAt | Date}}, Bill No : {{invoice.name}}, Total Amount : {{invoice.total}}, Customer : {{invoice.customer.name}}
                                    </div>
                                </uib-accordion-heading>
                                <div class="line-holder" ng-repeat="product in invoice.invoiceList">
                                    <div class="form-builder">
                                        <div class="form-repeater">
                                            <div>
                                                <div class="form-builder-item no-pad row-item">

                                                    <div class="col-item" style="text-align: center;">
                                                        <p> {{product.name}}</p>
                                                        <!-- <p> {{product.name}}[{{product.description}}]</p> -->
                                                    </div>
                                                    <div class="col-item" style="text-align: center;">
                                                        <!-- <div class="col-item" style="flex:0.5;"> -->
                                                        {{product.quantity}} {{product.unit}}
                                                    </div>
                                                    <div class="col-item" style="text-align: center;">
                                                        {{product.amount}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion>
                    </div>
                    <div class="tableData" ng-show="totalItems == 0">
                        <h5>No data found</h5>
                    </div>
                    <ul ng-if="totalItems" ng-change="changePages(currentPage);" uib-pagination total-items="totalItems" items-per-page=10 ng-model="currentPage"
                        max-size="template.pageMax" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                </div>
            </div>
        </div>
    </div>
</div>