<form name="formName">
    <div class="heading-sec">

    </div>
    <div class="panel-content">
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="row" ng-if="!formData._id">
                        <div class="col-md-6  invoice--go" ng-if="formData.templateInvoice && formData.billedTo">
                            <button class="btn btn-default" ng-click="getTemplateDetails(formData.templateInvoice)">GO</button>
                            <div class="pull-right" style="color: red"><label>Credit Limit Pending : </label><span><b> {{creditPending | number}}</b></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Billed To*</label>
                                <ui-select ng-change="calculateCreditPending(formData.customer)" ng-model="formData.customer" theme="bootstrap" required>
                                    <ui-select-match placeholder="Use Dropdown to Select Or Type to Search Others">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="customer in billedTos | filter:$select.search" refresh="refreshBilledTos($select.search)" ui-disable-choice="billedTos.length==0">{{customer.name}}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Shop*</label>
                                <multiple-select my-enter name="shop" required ng-model="formData.shop" ng-name="name.shop" api="searchShop"></multiple-select>
                                <div class="error-msg" ng-show="formName.shop.$invalid">Please Select shop </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--<div class="form-group">
                                <label>Employee*{{formData.employee}}</label>
                                <multiple-select my-enter name="employee" required ng-model="formData.employee" ng-name="name.employee" api="searchEmployee"></multiple-select>
                                <div class="error-msg" ng-show="formName.employee.$invalid">Please Select employee </div>
                            </div>-->
                            <div class="form-group">
                                <label>Owner*</label>
                                <multiple-select my-enter name="owner" required ng-model="formData.owner" ng-name="name.owner" api="getBackendEmployeeOnly"></multiple-select>
                                <div class="error-msg" ng-show="formName.owner.$invalid">Please Select owner</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="clearfix"></div>
                    <div class="form-builder">
                        <div class="form-repeater">
                            <div class="form-builder-head has-pad row-item">
                                <div class="col-item col-item-20">
                                    <p>Name</p>
                                </div>
                                <div class="col-item col-item-20">
                                    <p>Description</p>
                                </div>
                                <div class="col-item col-item-15">
                                    <p>Unit</p>
                                </div>
                                <div class="col-item col-item-15">
                                    <p>Rate</p>
                                </div>
                                <div class="col-item col-item-15">
                                    <p>Quantity</p>
                                </div>
                                <div class="col-item col-item-15">
                                    <p>Amount</p>
                                </div>
                            </div>

                            <div class="form-builder-hr" dragular dragular-model="formData">
                                <div class="form-builder-item row-item" ng-repeat="form in formData.invoiceList">
                                    <div class="right-float mark-float">
                                        <i class="fa fa-bars handleBar"></i>
                                    </div>
                                    <div class="col-item col-item-20">
                                        <ui-select ng-model="form" ng-change="getAll(form,$index)" theme="bootstrap" sortable="true">
                                            <ui-select-match placeholder="Select">
                                                <span class="detail-title" title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="d in descriptions | filter: $select.search" refresh="getdescriptions($select.search)" refresh-delay="0">
                                                <span>{{d.name}}</span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-item col-item-20">
                                        <input type="text" title="{{form.description}}" ng-model="form.description" placeholder="Enter Unit" class="form-control">
                                    </div>
                                    <div class="col-item col-item-15">
                                        <!--<input type="text" ng-model="form.unit" placeholder="Enter Unit" class="form-control">
                                        -->
                                        <select class="form-control" ng-model="form.unit" ng-change="calAmt(form.rate,form.quantity,$index)">
											<option value="Kg">Kg</option>
											<option value="grm">grm</option>
											<option value="Per">Per</option>
										</select>
                                    </div>
                                    <div class="col-item col-item-15">
                                        <input type="text" cleave="template.currency" ng-model="form.rate" placeholder="Enter Rate" class="form-control text-right"
                                            ng-change="calAmt(form.rate,form.quantity,$index)">
                                    </div>
                                    <div class="col-item col-item-15">
                                        <input type="text" cleave="template.currencyNoDecimal" min="0" ng-model="form.quantity" placeholder="Enter Quantity" class="form-control text-right"
                                            ng-change="calAmt(form.rate,form.quantity,$index)">
                                    </div>
                                    <div class="col-item col-item-15">
                                        <input type="text" cleave="template.currency" ng-model="form.amount" placeholder="Total" class="form-control text-right"
                                            readonly>
                                    </div>
                                    <div class="mark-float">
                                        <i class="fa fa-plus-circle success" ng-click="addHead();"></i>
                                        <i class="fa fa-minus-circle danger" ng-click="removeHead($index);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec-total">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Total: </label> {{formData.total|number:2}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Payment Method*</label>
                            <br>
                            <label class="radio-inline">
                                            <input type="radio" name="paymentMethod" value="Cash" required ng-model="formData.paymentMethod">Cash
                                        </label>
                            <label class="radio-inline">
                                            <input type="radio" name="paymentMethod" value="Credit" required ng-model="formData.paymentMethod">Credit
                                        </label>
                            <div class="error-msg" ng-show="formName.paymentMethod.$invalid && formName.paymentMethod.$touched">Please Select paymentMethod</div>
                        </div>
                    </div>
                    <div class="form-elements-sec">
                        <label>Comment</label>
                        <text-angular ta-toolbar="[]" ng-model="formData.comment"></text-angular>

                        <!--<textarea rows="4" class="form-control" ng-model="forms.openingPara"></textarea>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt20 odd-even-button">
            <button class="btn btn-success" ng-click="createInvoice(formData)" ng-disabled="formName.$invalid">Save</button>
            <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
        </div>
        <!--</div>-->
    </div>
</form>