<form name="formName" ng-submit="saveModel(formData)">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <toggle-switch ng-model="formData.status" class="switch-small switch-success pull-right"></toggle-switch>
                    <h2>{{header.name}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="sec">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Shop Name*</label>
                                        <input type="text" name="name" class="form-control" ng-model="formData.name" required>
                                        <div class="error-msg" ng-show="formName.name.$invalid && formName.name.$touched">Please Enter Salvage</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="formData._id">
                                <div class="col-md-12">
                                    <div class="widget">
                                        <div class="form-elements-sec">
                                            <div class="widget-title">
                                                <h3>Item Details</h3>
                                            </div>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Rate</th>
                                                        <th>Unit</th>
                                                        <th style="width: 100px;">Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--<tr>-->
                                                    <tr ng-repeat="itemObj in formData.items track by $index">
                                                        <td>
                                                            {{$index+1}}
                                                        </td>
                                                        <td>
                                                            {{itemObj.item.name}}
                                                        </td>
                                                        <td>
                                                            {{itemObj.item.rate}}
                                                        </td>
                                                        <td>
                                                            {{itemObj.item.unit}}
                                                        </td>
                                                        <td>
                                                            <input type="Number" step=".001" class="form-control" style="width: 200px;" ng-model="itemObj.quantity">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt20 odd-even-button">
                                <button class="btn btn-default" type="submit" ng-disabled="formName.$invalid">Save</button>
                                <a class="btn btn-default" ng-click="cancel()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>