<ion-view>
    <div class="bar bar-header item-input-inset bar-positive">
        <button class="button button-clear back-arrow-margin" ng-click="getBack();"> 
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <label class="item-input-wrapper search-input-resize" focus-me>
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" ng-model="searchText" placeholder="Search" ng-change="searchRecord(searchText);">
        </label>
    </div>
    <ion-content class="has-header">
        <div class="list">
            <a class="item" ng-click="getMyResult(searchResult);" ng-repeat="searchResult in assignmentList">
                <h2>{{searchResult.name}}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>